

.content {
    display: flex;
}

.content .left {
    width: 65%;
}

.content .right {
    width: 35%;
    /* display: flex; */
}

.content .right .right-top {
    display: flex;
    justify-content: flex-end;
}

.content .right .right-top .three-dot {
    margin-left: 40px;
    font-size: 30px;
}
.content .right .right-top .star {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}
.content .right .right-top .star-true {
    color: yellow;
}
.content .right .right-bottom {
    margin-top: 30px;
    text-align: right;
}

.main .box-photo {
    padding: 0;
    /* border-radius: 6px; */
}
.main .box-photo .media {
    height: 220px;
    position: relative;
    border-radius: 6px;
}
.main .box-photo .media .media-top {
    height: 100%;
}
.main .box-photo .media .media-top .image img{
    border-radius: 6px;
}
.main .box-photo .media .media-top .create-image{
    border-radius: 6px;
}
.main .box-photo .media .media-bot {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: white;
    padding: 7px 0 0 15px;
    border-radius: 6px;
}
.main .box-photo .media .media-bot-item {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: transparent;
}
.main .box-photo .media .media-bot-item .heart-on i{
    color: red;
}
.main .box-photo .media .media-bot-item .overlay {
    background-color: gray;
    opacity: 0.7;
    height: 100%;
    padding: 5px 0 0 15px;
    font-size: 20px;
    border-radius: 6px;
}
.main .box-photo .media .media-bot-item .overlay span{
    cursor: pointer;
}