.container {
    background-color: #FAFAFA;
    padding: 20px;
}
.breadcrumb {
    padding: 10px;
    /* border-bottom: 3px solid #DDD; */
}
.breadcrumb .title {
    height: 60px;
}
.breadcrumb .title li{
    height: 100%;
    margin-right: 20px;
}
.breadcrumb .title .album {
    border-bottom: 5px solid rgb(6, 206, 241);
}
.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.items .item {
    width: 23%;
    margin: 7px 10px;
}

.items .item .media {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.items .item .media .media-top {
    width: 100%;
    height: 60%;
    cursor: pointer;
}

.items .item .media .media-top .image {
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: white;
}
.items .item .media .media-top .create-image {
    width: 100%;
    height: 100%;
    font-size: 60px;
    background-color: #CCC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items .item .media .media-bot {
    flex-grow: 1;
    width: 100%;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #DDD;
    overflow-y: hidden;
}
.items .item .media .media-bot p{
    color: gray;
}
.items .item .media img {
    width: 100%;
    height: 100%;
    
}

.items .item .star {
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
}
.items .item .star-true {
    color: yellow;
}
.modal-content .gen-title {
    display: flex;
    margin-bottom: 30px;
}
.modal-content .gen-title button {
    margin-right: 20px;
    width: 200px;
}

.modal-content .gen-image {
    display: flex;
}
.modal-content .gen-image button {
    margin-right: 20px;
    width: 153px;
}
.modal-content .gen-image img {
    width: 40%;
}
.modal-content .save {
    text-align: right;
}